@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lora:ital,wght@1,400;1,500&family=Playfair+Display:ital,wght@1,600;1,800;1,900&family=Quintessential&family=Source+Serif+4:ital@1&display=swap');

.containerre{
    background: url("./images/feedback.jpg") 
    no-repeat center fixed;
    background-size: cover;
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}

h2{
    font-size: 32px;
    text-shadow: -1px -1px rgb(28, 28, 29);
}
h5{
    font-family: "Merriweather", serif;
    font-weight: 800;
    font-style: italic;
}
.review{
    font-family: 'Playfair Display', serif;
    position: relative;
    font-size: 17px;
    width: 100%;
    max-width: 380px;
    margin: 20px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.review::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.08);
    border-radius: 10px;
    pointer-events: none;
}
input{
    font-family: 'Playfair Display', serif;
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
    color: inherit;
}
.modal-body p{
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: italic;
}